.transactions {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;

  & li {
    background-color: #fff;
    box-shadow: $box-shadow;
    color: #333;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 10px;
    margin: 10px 0;
  }
  
  & li.plus {
    border-right: 5px solid $plus;
  }
  
  & li.minus {
    border-right: 5px solid $minus;
  }
  
  & li:hover .delete-btn {
    opacity: 1;
  }
  
}